# ==========================================
# Variáveis de Ambiente e Segredos
# ==========================================
.env
.env.*
*.local
application-local.properties
application-local.yml

# ==========================================
# Java / Spring Boot / Legado (Arquivos Compilados)
# ==========================================
*.class
*.log
*.ctxt

# Pacotes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ==========================================
# Ferramentas de Build (Maven / Gradle)
# ==========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.jar
out/

# ==========================================
# IDEs e Editores
# ==========================================
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/
*.code-workspace

# Coverage reports
**/target/site/jacoco/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db

apoio/

.env
.env.*
*.class
*.log
*.jar
*.war
target/
.idea/
*.iml
.vscode/
.DS_Store